{% load static %}

<footer class="main-footer" style="  margin: 0; padding: 0;">

    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
<!--            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">-->
<!--                &lt;!&ndash; Content &ndash;&gt;-->
<!--                <img src="{% static 'dist/img/brasao.png' %}" alt="..." width="120"/>-->
<!--            </div>-->
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Redes sociais</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #36914e; height: 2px"/>
                      <p><a href="https://www.instagram.com/secagemdigital/?igshid=YzVkODRmOTdmMw%3D%3D" class="text-dark">Instagram</a></p>
                      <p><a href="https://www.facebook.com/profile.php?id=61554660220613" class="text-dark">Facebook</a></p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
<!--            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">-->
<!--                &lt;!&ndash; Links &ndash;&gt;-->
<!--                <h6 class="text-uppercase fw-bold">Links</h6>-->
<!--                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #36914e; height: 2px"/>-->
<!--                <p>-->
<!--                    <a href="#!" class="text-dark">Your Account</a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    <a href="#!" class="text-dark">Become an Affiliate</a>-->
<!--                </p>-->
<!--            </div>-->
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Contatoto</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #36914e; height: 2px"/>
<!--                <p><i class="fas fa-home mr-3"></i>Rua Augusto de Moraes, nº 175, Centro, 78700 - 390</p>-->
                <p><i class="fas fa-envelope mr-3"></i>SECAGEMDIGITALSILOTECH@GMAIL.COM</p>
                <p><i class="fas fa-phone mr-3"></i>(66) 3411 - 5300</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>

    <div class="text-center p-3 text-white" style="background-color: #36914e">
       Secagem Digital - Copyright &copy; 2024
    </div>
    <!-- Copyright -->
</footer>